:root {
--color1: #F5F5F5;
--color2: #A2A2A2;
}


body {
    background-color: var(--color1);
}
/*Шапка*/
header, main, section, footer {
    margin: 3px auto;
    padding: 20px;
    width: 70%;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.header_link {
    display: flex;
    gap: 20px;
}
.grey {
    border-right:2px solid var(--color2);
    padding-right: 10px;
} 


.header_link>div>a {
    color: var(--color2);
    text-decoration:none;
}
       
.header_link>div>a:hover {
    color: black;  
}

h1 {
    display: inline;
}
/*Меню и ветрина*/
.menu {
    color: var(--color2);
    text-decoration:none;
}

.menu:hover {
    color: white;
}

.photo_main_menu {
    display: block;
    width: 100%;
    height: auto;
    
}
    
/*Контакты*/
/*Футер*/